.story-card {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  padding: 20px 0;
}
.rainbow-text{
  animation: colorChange 2s infinite;
}

@keyframes colorChange{
  0%{color:red;}
  25%{color:orange;}
  50%{color:green;}
  75%{color:blue;}
  100%{color:purple;}
}