<h1 class="text-3xl font-bold mb-6 text-center">
  Danh sách truyện tranh
</h1>
@if (error) {
<div class="text-center text-red-500 font-semibold mb-4">
  {{ error }}
</div>
}
<table class="w-full border border-gray-300 text-center shadow-md">
  <thead class="bg-gray-200">
    <tr>
      <th class="p-3">Tên truyện</th>
      <th class="p-3">Tác giả</th>
      <th class="p-3">Giá</th>
      <th class="p-3">Lượt xem</th>
      <th class="p-3">Ảnh</th>
      <th class="p-3">Ghi chú</th>
      <th class="p-3">Hành động</th>
    </tr>
  </thead>
  <tbody>
    @for (story of stories; track story.id) {
    <tr class="border-t hover:bg-gray-100 transition">
      <td class="p-3">{{ story.name }}</td>
      <td class="p-3">{{ story.author }}</td>
      <td class="p-3">{{ story.price }}</td>
      <td class="p-3">{{ story.views }}</td>
      <td class="p-3">
        <img [src]="story.image" class="w-20 mx-auto rounded shadow">
      </td>
      <td class="p-3">
        @if (story.views > 80000) {
        <span class="rainbow-text font-semibold">
          🔥 Truyện nổi bật
        </span>
        } @else {
        <span class="text-gray-500">Bình thường</span>
        }
      </td>

      <td class="p-3">
        <a href="/AddStory" class="border-2 px-3 py-1 hover:bg-green-300 rounded-xl">
          thêm
        </a>
        <button class="border-2 px-3 py-1 hover:bg-amber-300 rounded-xl">
          sửa
        </button>
        <button (click)="DeleteStory(story.id)" class="border-2 px-3 py-1 hover:bg-red-300 rounded-xl">
          xoá
        </button>
      </td>

    </tr>

    }

  </tbody>
</table>